<!-- templates/insurance/policy_list.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Available Insurance Policies</h1>
<div class="policy-list">
    {% for policy in policies %}
    <div class="policy-item">
        <h2>{{ policy.name }}</h2>
        <p>{{ policy.description }}</p>
        <p><strong>Premium:</strong> Rs.{{ policy.premium }} / year</p>
        <p><strong>Duration:</strong> {{ policy.duration_years }} years</p>

        <a href="{% url 'purchase_policy' policy.id%}">Purchase</a>
    </div>
    {% endfor %}
</div>
{% endblock %}